body, html {
    font-family: "Roboto", sans-serif;
    margin: 0;
    height: 100%;
    width: auto;
}

ul {
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    /* allowed text across li elements to be centered within its own container, essentially "flex" acts on the text itself */
}

img {
    width: 1.6rem;
    height: auto;
    filter: invert(100%);
}

img[src="icons/view-dashboard-outline.svg"] {
    width: 2.8rem;
    height: auto;
}


.container {
    display: grid;
    grid-template-columns: 1.5fr 7fr;
    grid-template-rows: auto 1fr;
    /* gap: 5px; */
}

.sidebar {
    background-color: rgb(208, 66, 66);
    grid-row: 1 / -1;
    padding: 0 1.2rem 0 1.1em;
    height: 100%;
}

.header {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto auto;
    grid-template-rows: auto 1fr;
    grid-row: 1/2;
    gap: 1.5em;
    padding: 0.9em 2.1em;
    align-items: center;
    box-shadow: 3px 2px 6px 2px rgba(167, 166, 166, 0.75);
    z-index: 1;
}

.header img {
    filter: none;
    height: 1.3em;
    width: auto;
}

.search-bar {
    background-color: #D4D9E1;
    border-radius: 15px;
    height: 1.1em;
    padding: 5px;
}

.noti {
    padding-left: 10rem;
}

.account-name {
    font-size: 1.0em;
    font-weight: 600;
}

.header > img[src="profiles/main.jpg"] {
    height: 3.0em;
    width: auto;
    border-radius: 30px;
    grid-column: 4;
}

.account-intro > img{
    height: 5.5em;
    width: auto;
    border-radius: 50px;
}

.account-header {
    grid-row: 2;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto;
    gap: 1.2rem;
    align-items: center;
}

.account-header > div > p {
    font-weight: bold;
}

.user-name {
    font-size: 1.4rem;
    margin-top: -0.4em;
}

.btns {
    grid-column: 3 / 4;
    justify-self: end;
    display: flex;
    gap: 1.7rem;
}

.btns > button {
    background-color:rgb(208, 66, 66);
    border-radius: 25px;
    border: 0;
    color: white;
    padding: 0.9em 2.0em;
    font-weight: bold;
}

.sidebar .title {
    display: flex;
    justify-content: start;
    gap: 7px;
    color: white;
    padding-bottom: 7%;
    font-size: 1.05em;
}

.upper > div, .lower > div {
    display: flex;
    color: white;
    font-weight: bold;
    gap: 1.1em;
    justify-content: start;
}

.upper, .lower {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-left: 3%;
}

.options-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.overview {
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
    background-color: #D4D9E1;
    padding-left: 1.4rem;
    padding-top: 1.2rem;
}

.overview > p {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0;
    margin-top: 1.1em;
}

.trending-section {
    grid-column: 2 / 3;
    padding-right: 2rem;
}

.trending-section .heading {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0;
    margin-top: 1.1em;
    margin-bottom: 0.8em;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.3rem;
    grid-row: 2;
}

.projects > .card {
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, auto);
    align-items: center;
    padding: 1.3em;
    border: solid 2px rgb(208, 66, 66);
}

.card .title {
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0;
}

.card p:nth-child(2) {
    color: rgb(126, 126, 126);
    grid-column: 1;
    margin: 0;
}

.project-options {
    filter: invert(100%);
    grid-row: 3;
    grid-column: 2;
}
.announcements {
    padding-right: 2rem;
    grid-row: 2;
}

.announcements > div {
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    border: solid 2px rgb(208, 66, 66);
}

.a-card .title {
    margin: 0;
}

.a-card > p {
    margin: 0;
}

.a-card {
    padding: 1.1em;
}

.trending-section > div {
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    border: solid 2px rgb(208, 66, 66);
}

.tag {
    margin: 0;
}

/* .trending-section .heading, .announcements, .trending-section > div, .overview p:nth-child(2) {
    margin-left: 1.5em;
} */

.user > img {
    filter: invert(0);
    border-radius: 25px;
    width: 2.5em;
    height: auto;
}

.trending-section > div {
    display: grid;
    grid-template-columns: auto auto;
    padding: 1.2em;
    gap: 1.1em;
}